@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TUser
@using MyErp.Resources
 
@inject LocService SharedLocalizer
@functions {
    string Coment(){
        string coment="";
        try{
        coment =@SharedLocalizer.GetLocalizedHtmlString((string)ViewData["Coment"]);
        coment = coment +" "+(string)ViewData["NewPw"];
        }catch{}
        return coment;
    }
}
<div class=" clearfix position-relative o_form_sheet center">


<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("AdUser")</h3>
</div>
@using (Html.BeginForm()) {
   <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit">
         <tr>
            <td><input type="submit" class="dropbtn" value="Add"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowUser",Model)
        <tr>
            @Coment()
        </tr>
    </table>
    </div>
}
</div>