
@using MyErp.Resources
 
@inject LocService SharedLocalizer


    <!--Languages-->
    <div class="visible")>
        <tr>
            @SharedLocalizer.GetLocalizedHtmlString("Useddltoselect")
        </tr>
    </div>

    
