<form action="Login" method="post">

  <div class="visible">
    <tr>
        <td><label for="UserName"><b>UserName</b></label></td>
        <td><input type="text" placeholder="Enter Username" name="UserName" required></td>
    </tr>
    <tr>
        <td><label for="Password"><b>Password</b></label></td>
        <td><input type="password" placeholder="Enter Password" name="psw" required></td>
    </tr>
    <tr>
        <button type="submit">Login</button>
    </tr>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>