<form action="LogOut" method="post">

  <div class="visible">
    <tr>
        <td><label for="UserName"><b>UserName</b></label></td>
        <td><input type="text" placeholder="Enter Username" name="UserName" required></td>
    </tr>
    <tr>
        <button type="submit">LogOut</button>
    </tr>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>