@using MyErp.Resources
 
@inject LocService SharedLocalizer
<form action="LogOut" method="post">

  <div class="visible">
    <Table>
    <tr>
        <td><button name="actionType" value="Go" type="submit">>@SharedLocalizer.GetLocalizedHtmlString("Logoff")</button></td>
        <td><button name ="actionType" value ="Cancel" type="submit" class="cancelbtn">>@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button></td>
    </tr>
  </div>
</Table>
  <div>
    <Table>
      <tr>
        <td>
          @Html.ActionLink(@SharedLocalizer.GetLocalizedHtmlString("ChangePassword"), "ChLogin")
        </td>
      </tr>  
    </Table>
  </div>
</form>