@{
    ViewData["Title"] = "Home Page";
}
@using MyErp.Resources
 
@inject LocService SharedLocalizer
@functions {
    string Enlace(){
        string retcol="";
        try{
        retcol = (string)ViewData["link"];
        }catch{}
        return retcol;
    }
}
<div class="text-center">
    <h1 class="display-4">@SharedLocalizer.GetLocalizedHtmlString("Unauthorized")</h1>
    <tr>
        <td>@Html.ActionLink(@SharedLocalizer.GetLocalizedHtmlString("PleaseLogin"), "Login")</td>
    </tr>
</div>