@using MyErp.Resources
 
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("HomePage");
}
@functions {
    string Errores()
    {
        string mensaje ="";
        try{mensaje =(string)ViewData["Error"];
        }catch{}
        return mensaje;
    }
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @Errores()
</div>
-->