@model List<TLocation>
    <tr>
        <th class="head-text">Code</th> 
        <th class="head-text">Description</th>                
        <th class="head-text">Type</th>        
    </tr>
   
    @foreach (var c in Model) {
        <tr>
            <td class ="col-text">@c.LocCode</td>            
            <td class ="big-text">@c.LocDescr</td>
            <td class ="norm-text">@c.LocType</td>
            <td class="col-text">@Html.ActionLink("Remove", "FacEdit", new { id= c.LocFaId, wrel = c.LocId, wasl=0,vpanel=2}, new { onclick="return confirm('Are you sure?');"})</td>
        </tr>
    }
