@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TFacility
@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
    int? Planta(){
        int? retcol = (int?)ViewData["Plant"];
        return retcol;
    }
}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("FCrea")</h3>
</div>
@using (Html.BeginForm()) {
   <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit" border ="1">
          <tr>
            <td><input type="submit" class="dropbtn" value="Add"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowFacilities",Model)
    </table>

   </div>
}