@{Layout = "_LyIndex";}
@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("MatCreate")</h3>
</div>
@using (Html.BeginForm()) {
   <div class="visible">
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowMaterials",Model)
         <tr>
            <td><input type="submit" value="Add"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>
        </tr>
    </table>
    </div>
}