@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
string assVisible(int mPanel)
{
    string retcol="invisible";
    try{
    if ((int)ViewData["Assign"]==mPanel)
    {retcol="visible";}
    }
    catch{}
    return retcol;
 }
private int VAssign(int mPanel){
    int resul = 1;
    try{
    if ((int)ViewData["Assign"]==mPanel)
    {resul=0;}
    }
    catch{}
    return resul;

}

    string panelBold(int panel)
    {   
    string cstyle ="";
    int tpan =0;
    try{
        tpan = (int)ViewData["pamen"];
        if (panel==tpan)
        {cstyle="font-weight:bold";}
    }
    catch{}
    return cstyle;
    }



}

<div class=" clearfix position-relative o_form_sheet center">

@Html.Partial("_pmenuMat_com")
    @using (Html.BeginForm()) {
    <div class="div-edit">
        @Html.HiddenFor(p => p.MatId)
        @Html.ValidationSummary(true)
        <table class="table-edit">
            <tr>
                <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
                <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
            </tr>
            @Html.Partial("_pshowMaterials",Model)
        </table>
    </div>
    }
</div>
