@{Layout = "_LyIndex";}
@using MyErp.Models
@model TOperator
@functions {
    int? Planta(){
        int? retcol = (int?)ViewData["Plant"];
        return retcol;
    }
}
<div class="cont-titles">
<h1>Add a New Operator record</h1>
</div>
@using (Html.BeginForm()) {
   <div class="visible">
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowOperators",Model)
         <tr>
            <td><input type="submit" value="Add"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>
        </tr>
    </table>
    </div>
}