@{Layout = "_LyIndex";}
@using MyErp.Models
@model VTMRouting
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("OperCreate")</h3>
</div>
@using (Html.BeginForm(new{id = Model.RoRoMatId})) {
   <div class="visible">
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowRMaterials",Model)
         <tr>
            <td><input type="submit" value="Add"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>
        </tr>
    </table>
    </div>
}