@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TCTruck
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
    int? Planta(){
        int? retcol = (int?)ViewData["Plant"];
        return retcol;
    }
}
<div class=" clearfix position-relative o_form_sheet center">

<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("TruckCreate")</h3>
</div>
@using (Html.BeginForm()) {
   <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit">
          <tr>
            <td><input type="submit" class="dropbtn" value="Add"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowTrucks",Model)
    </table>

   </div>
}
</div>