@{Layout = "_LyIndex";}
@using MyErp.Models
@model TWccomponent
@using MyErp.Resources
@inject LocService SharedLocalizer

<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("WCCompoEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.HiddenFor(p => p.WcoId)
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowWCComponents",Model)
        <tr>
            <td><input type="submit" value="Update"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>
        </tr>
    </table>
    </div>
}