@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TWccomponent
@using MyErp.Resources
@inject LocService SharedLocalizer
<div class=" clearfix position-relative o_form_sheet center">

<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("WCCompoEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.HiddenFor(p => p.WcoId)
    @Html.ValidationSummary(true)
    <table class="table-edit">
        <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowWCComponents",Model)
    </table>
    </div>
}
</div>