@{Layout = "_LyIndex";}
@using MyErp.Models
@using System.Linq;
@functions {
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
}

    <!--Facilities-->
    <div class=@isVisible(2)>
    @Html.Partial("_pListaScShop") @*,(VCScShop)ViewBag.ListScShop)*@
    </div>
</div>
